* {
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 376px) {
  nav {
    display: none;
  }
  section {
    display: none;
  }
  .features {
    display: none;
  }
  .secondarticle {
    display: none;
  }
  .cards {
    display: none;
  }
  .download {
    display: none;
  }
  .isactivemenu {
    display: none;
    background-color: #252b46;
  }
  .isactivemenu ul {
    list-style-type: none;
    display: inline-block;
  }
  .isactivemenu ul .logodark {
    margin-top: 47px;
    margin-left: 33px;
  }
  .isactivemenu ul .closeicon {
    margin-top: 40px;
    margin-left: 95px;
  }
  .isactivemenu ul li {
    text-align: center;
  }
  .isactivemenu ul li a {
    text-decoration: none;
    color: white;
  }
  .isactivemenu ul li a .loginbtnmobile {
    color: white;
    background-color: #252b46;
    border: 1px solid white;
    padding: 10px 95px;
  }
  .mobilenav {
    display: block;
  }
  .mobilenav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style-type: none;
  }
  .mobilenav ul li img {
    margin-left: 33px;
    margin-top: 47px;
  }
  .mobilenav ul li i {
    text-decoration: none;
    list-style-type: none;
    color: black;
    margin-top: 47px;
    margin-left: 146px;
    margin-right: 32px;
    display: block;
  }
}

@media screen and (min-width: 376px) {
  .mobilenav {
    display: none;
  }
  .isactivemenu {
    display: none;
  }
  nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 50px;
  }
  nav ul .logo {
    margin-left: 170px;
    margin-right: 510px;
  }
  nav ul a {
    text-decoration: none;
    list-style-type: none;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  nav ul li {
    text-decoration: none;
    list-style-type: none;
    margin-top: 57px;
    margin-left: 45px;
    font-size: 18px;
    font-family: 'Rubik', sans-serif;
  }
  nav ul li i {
    display: block;
  }
  nav ul li:active {
    color: #fa5757;
  }
  nav ul button {
    margin-top: 57px;
    margin-left: 50px;
    width: 110px;
    height: 40px;
    border: none;
    color: white;
    background-color: #fa5757;
    font-size: 18px;
    font-family: 'Rubik', sans-serif;
    margin-right: 165px;
    border-radius: 5%;
  }
  nav ul button:active {
    background-color: white;
    color: #fa5757;
    border: 2px solid #fa5757;
  }
  section {
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  section .stage1 {
    width: 490px;
    height: 290px;
    margin-left: 300px;
    margin-top: 205px;
  }
  section .stage1 p {
    margin-top: 42px;
    margin-bottom: 42px;
  }
  section .stage1 .buttonsstage {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  section .stage1 .buttonsstage .secondbtn {
    margin-left: 17px;
    background-color: #9194a1;
    color: #252b46;
  }
  section .stage1 .buttonsstage .secondbtn:active {
    background-color: white;
  }
  section .stage1 .buttonsstage button {
    border-radius: 5%;
    width: 165px;
    height: 47px;
    background-color: #5368df;
    color: white;
  }
  section .stage1 .buttonsstage button:active {
    background-color: white;
    color: #5368df;
  }
  section .stage2 {
    margin-top: 135px;
    margin-left: 128px;
  }
  .features {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 100px;
    width: 540px;
    height: 130px;
  }
  .features h2 {
    width: 540px;
    height: 290px;
    margin-left: 600px;
    margin-bottom: 40px;
    margin-top: 217px;
    font-family: 'Rubik', sans-serif;
  }
  .features p {
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    width: 540px;
    height: 76px;
    margin-left: 600px;
  }
  .features .href {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 450px;
    width: 730px;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    border-bottom: 1px solid black;
  }
  .features .href a {
    margin-bottom: 30px;
    margin-top: 80px;
    text-decoration: none;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-left: 92px;
    color: #252b46;
  }
  .features .href a:active {
    color: #fa5757;
  }
  .features .href a:hover {
    border-bottom: 5px solid red;
    margin-bottom: -3px;
  }
  .secondarticle {
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
  }
  .secondarticle .stage3 {
    margin-top: 270px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 300px;
    margin-top: 281px;
  }
  .secondarticle .stage4 {
    margin-left: 128px;
    margin-top: 73px;
    width: 490px;
    height: 290px;
  }
  .secondarticle .stage4 p {
    margin-top: 40px;
  }
  .download {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 100px;
    width: 540px;
    height: 130px;
  }
  .download h2 {
    width: 540px;
    height: 290px;
    margin-left: 600px;
    margin-bottom: 40px;
    margin-top: 260px;
    font-family: 'Rubik', sans-serif;
  }
  .download p {
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    width: 540px;
    height: 76px;
    margin-left: 600px;
  }
  .cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 400px;
    margin-top: 177px;
  }
  .cards .firstcard {
    box-shadow: 1px 34px 28px -23px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 1px 34px 28px -23px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 34px 28px -23px rgba(0, 0, 0, 0.75);
    border-radius: 3%;
    width: 283px;
    height: 386px;
    text-align: center;
  }
  .cards .firstcard .imgchrome {
    margin-top: 40px;
  }
  .cards .firstcard h4 {
    margin-top: 30px;
  }
  .cards .firstcard p {
    margin-top: 24px;
  }
  .cards .firstcard .imgdots {
    margin-bottom: 20px;
  }
  .cards .firstcard .chromebtn {
    background-color: #5368df;
    width: 232px;
    height: 49px;
    color: white;
  }
  .cards .firstcard .chromebtn:active {
    color: #5368df;
    background-color: white;
    border: 1px solid #5368df;
  }
  .cards .secondcard {
    box-shadow: 1px 34px 28px -23px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 1px 34px 28px -23px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 34px 28px -23px rgba(0, 0, 0, 0.75);
    border-radius: 3%;
    text-align: center;
    margin-left: 38px;
    margin-top: 44px;
    width: 283px;
    height: 386px;
  }
  .cards .secondcard .imgfirefox {
    margin-top: 40px;
  }
  .cards .secondcard h4 {
    margin-top: 30px;
  }
  .cards .secondcard p {
    margin-top: 24px;
  }
  .cards .secondcard .imgdots {
    margin-bottom: 20px;
  }
  .cards .secondcard .firefoxbtn {
    background-color: #5368df;
    width: 232px;
    height: 49px;
    color: white;
  }
  .cards .secondcard .firefoxbtn:active {
    color: #5368df;
    background-color: white;
    border: 1px solid #5368df;
  }
  .cards .thirdcard {
    box-shadow: 1px 34px 28px -23px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 1px 34px 28px -23px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 34px 28px -23px rgba(0, 0, 0, 0.75);
    border-radius: 3%;
    text-align: center;
    margin-top: 88px;
    margin-left: 38px;
    width: 283px;
    height: 386px;
  }
  .cards .thirdcard .imgopera {
    margin-top: 50px;
  }
  .cards .thirdcard h4 {
    margin-top: 30px;
  }
  .cards .thirdcard p {
    margin-top: 24px;
  }
  .cards .thirdcard .imgdots {
    margin-bottom: 20px;
  }
  .cards .thirdcard .operabtn {
    background-color: #5368df;
    width: 232px;
    height: 49px;
    color: white;
  }
  .cards .thirdcard .operabtn:active {
    color: #5368df;
    background-color: white;
    border: 1px solid #5368df;
  }
}
/*# sourceMappingURL=style.css.map */