* { 
    margin: 0;
    padding: 0;
}
$softblue: hsl(231, 69%, 60%);
$softred: hsl(0, 94%, 66%);
$verydarkblue: hsl(229, 31%, 21%);
$grayishblue: hsl(229, 8%, 60%);



// mobile görüntü
@media screen and (max-width: 376px) {
  nav{
      display: none;
  }
  section {
        display: none;
    }
    .features{
        display: none;
    }
    .secondarticle{
        display: none;
    }
  .isactivemenu {
      display: none;
      background-color: $verydarkblue;
      ul{
          list-style-type: none;
          display: inline-block;
        .logodark{
            margin-top: 47px;
            margin-left: 33px;
            
        }
        
          .closeicon {
            margin-top: 40px;
            margin-left: 95px;
            
        }
          
      li {
          text-align: center;
          
          a{  
              .loginbtnmobile{
                  color: white;
                  background-color: $verydarkblue;
                  border: 1px solid white;
                  padding:10px 95px;
              }   
        text-decoration: none;
        color: white;
        
          }
      }
      }
  }




    .mobilenav {
      display: block;  //degisecek flex
      ul{
        display: flex;
        list-style-type: none;
        
          li{

              img{
                  margin-left: 33px;
                  margin-top: 47px;
              }
              
                  
                  i {
                      text-decoration: none;
                    list-style-type: none;
                    color: black;
                      margin-top: 47px;
                      margin-left: 146px;
                      margin-right: 32px;
                      display: block;
                  }
              
          }
      }
  }
}




//  desktop görüntü
@media screen and (min-width: 376px){
    .mobilenav{
        display: none;
    }
    .isactivemenu{
        display: none;
    }
    
nav {
    ul{
        display: flex;
        margin-left: 50px;
        .logo{
            margin-left: 170px;
            margin-right: 510px;
        }
        a{

            text-decoration: none;
            list-style-type: none;
            display: inline-flex;
            align-items: center;
        }
        li{
            text-decoration: none;
            list-style-type: none;
            i{
                display: block;
            }
            margin-top: 57px;
            margin-left: 45px;
            font-size: 18px;
            font-family: 'Rubik', sans-serif;
            &:active {
                color: $softred;
            }
        }
        button{
            margin-top: 57px;
            margin-left: 50px;
            width: 110px;
            height: 40px;
            border: none;
            color: white;
            background-color: $softred;
            font-size: 18px;
            font-family: 'Rubik', sans-serif;
            margin-right: 165px;
            border-radius: 5%;
            &:active {
                background-color: white;
                color: $softred;
                border: 2px solid $softred;
            }
        }
    }
}
// section
section {
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    display: flex;
    .stage1{
        width: 490px;
        height: 290px;
        margin-left: 300px;
        margin-top: 205px;
       
        p{
           margin-top: 42px;
           margin-bottom: 42px;
        }
        .buttonsstage{
            display: flex;
            .secondbtn{
                    margin-left: 17px;
                    background-color: $grayishblue;
                    color: $verydarkblue;
                    &:active {
                        background-color: white;
                    }
                }
            button{
                border-radius: 5%;
                width: 165px;
                height: 47px;
                background-color: $softblue;
                color: white; 
                &:active{
                    background-color: white;
                    color: $softblue;
                }
            }
        }
    }
    .stage2{
        margin-top: 135px;
        margin-left: 128px;
        
    }
}

.features {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin-top: 100px;
  width: 540px;
  height: 130px;
  h2{
        width: 540px;
        height: 290px;
        margin-left: 600px;
        margin-bottom: 40px;
        margin-top: 217px;
        font-family: 'Rubik', sans-serif;

  }
  p{
      font-family: 'Rubik', sans-serif;
    font-size: 18px;
    width: 540px;
    height: 76px;
    margin-left: 600px;
  }
  .href{
      display: flex;
      margin-left: 450px;
      width: 730px;
      text-align: center;
      justify-content: center;
      font-family: 'Rubik', sans-serif;
      font-size: 18px;
      border-bottom: 1px solid black; 
      
      
      
      a{
      margin-bottom: 30px;
      margin-top: 80px;
      text-decoration: none;
      flex-direction: row;
      margin-left: 92px;
      color: $verydarkblue;
      
           
      
        &:hover{
              border-bottom: 5px solid red;
              margin-bottom: -3px;

            
        }
  }
  }
}


.secondarticle{
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    .stage3{
        
        margin-top: 270px;
      display: flex;

        margin-left: 300px;
        margin-top: 281px;
  }
  .stage4{
      margin-left: 128px;
        margin-top: 73px;
        width: 490px;
        height: 290px;
        p{
            margin-top: 40px;
        }
  }
  }

  .download{
     display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin-top: 100px;
  width: 540px;
  height: 130px;
  h2{
        width: 540px;
        height: 290px;
        margin-left: 600px;
        margin-bottom: 40px;
        margin-top: 260px;
        font-family: 'Rubik', sans-serif;

  }
  p{
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    width: 540px;
    height: 76px;
    margin-left: 600px;
  }
  }

  .cards{
      display: flex;
      margin-left: 400px;
      margin-top: 177px;
      
      
      .firstcard{
          width: 283px;
          height: 386px;
          border: 5px solid black;
          text-align: center;
          .imgchrome{
              margin-top: 40px;
          }
          h4{
              margin-top: 30px;
          }
          p{
              margin-top: 24px;
          }
          .imgdots{
              margin-bottom: 20px;
          }
          .chromebtn{
              background-color: $softblue;
              width: 232px;
              height: 49px;
              color: white;
          }
      }
      .secondcard{
          text-align: center;
          margin-left: 38px;
          margin-top: 44px;
          width: 283px;
          height: 386px;
          border: 1px solid black;
          .imgfirefox{
              margin-top: 40px;
          }
          h4{
              margin-top: 30px;
          }
          p{
              margin-top: 24px;
          }
          .imgdots{
              margin-bottom: 20px;
          }
          .firefoxbtn{
              background-color: $softblue;
              width: 232px;
              height: 49px;
              color: white;
          }
      }
      .thirdcard{
          text-align: center;
          margin-top: 88px;
          margin-left: 38px;
          width: 283px;
          height: 386px;
          border: 1px solid black;
          .imgopera{
              margin-top: 50px;
          }
          h4{
              margin-top: 30px;
          }
          p{
              margin-top: 24px;
          }
          .imgdots{
              margin-bottom: 20px;
          }
          .operabtn{
              background-color: $softblue;
              width: 232px;
              height: 49px;
              color: white;
          }

      }
      
  }


}   //desktop görüntü sonu




