* { 
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}

$softblue: hsl(231, 69%, 60%);
$softred: hsl(0, 94%, 66%);
$verydarkblue: hsl(229, 31%, 21%);
$grayishblue: hsl(229, 8%, 60%);



// mobile görüntü
@media screen and (max-width: 376px) {
  nav{
      display: none;
  }
  section {
        display: none;
    }
    .features{
        display: none;
    }
    .secondarticle{
        display: none;
    }
    .cards{
        display: none;
    }
    .download{
        display: none;
    }
    .opentop{
        display: none;
    }
    .openit{
        display: none;
    }
    .footerdiv{
        display: none;
    }
  
    .isactivemenu{
        display: block;
        opacity: 95%;
        text-align: center;
        background-color: $verydarkblue;
        width: 375+33px;
        
        ul{
            list-style-type: none;
            hr{
                margin-left: 33px;
                margin-right: 32px;
            }
            .fleximg{
                display: flex;
        .logodark{
            margin-left: 33px;
            margin-top: 42px;
            
        }
        .closeicon{
            margin-top: 47px;
                      margin-left: 146px;
                      margin-right: 32px;
                    color: black;
                      background-color: $verydarkblue;
                      
        }
            }
        li{
            a{
                            text-decoration: none;
                            color: white;
                .loginbtnmobile{
                    width: 310px;
                    height: 50px;
                    border: 2px solid white;
                    border-radius: 3%;
                    color: white;
                    background-color:  $verydarkblue;
                    margin-top: 24px;
                    margin-bottom: 24px;
                }
            }
        }
        }
    }
 

    // mobil layout

    .mobilelayout{
        width: 375+33px;
        
        .heroimg{
            margin-top: 85px;
            margin-left: 33px;
            
            width: 375px;
            height: 210px; 
        }
        h3{
            margin-top: 100px;
            text-align: center;
            margin-left: 50px;
            margin-right: 50px;
        }
        p{
            font-size: 15px;
           text-align: center;
           margin-left: 50px;
           margin-right: 50px; 
           
        }
        .mobilebuttons{
            text-align: center;
        }
        .mobilefeatures{
            h2{
                text-align: center;
                margin-top: 160px;
                
            }
            p{
                font-size: 15px;
            }
            .mobilehref{
                display: flex;
                flex-direction: column;
                font-size: 15px;
                text-align: center;
                hr{
                    margin-left: 33px;
                    margin-right: 33px;
                    margin-top: 24px;
                    margin-bottom: 24px;
                }
                a{
                    text-decoration: none;
                    color: $verydarkblue;
                    &:active{
                        border-bottom: 2px solid red;
                        
                    }
                }
            }

        }
     } 
     // mobilelayout bitiş




    .mobilenav {
      display: block;  //degisecek flex
      ul{
        display: flex;
        list-style-type: none;
        
          li{

              img{
                  margin-left: 33px;
                  margin-top: 42px;
              }
              
                  
                  i {
                      text-decoration: none;
                    list-style-type: none;
                    color: black;
                      margin-top: 47px;
                      margin-left: 146px;
                      margin-right: 32px;
                      display: block;
                  }
              
          }
      }
  }
}




//  desktop görüntü
@media screen and (min-width: 376px){
    .mobilenav{
        display: none;
    }
    .isactivemenu{
        display: none;
    }
    
nav {
    ul{
        display: flex;
        margin-left: 50px;
        .logo{
            margin-left: 170px;
            margin-right: 510px;
        }
        a{

            text-decoration: none;
            list-style-type: none;
            display: inline-flex;
            align-items: center;
        }
        li{
            text-decoration: none;
            list-style-type: none;
            i{
                display: block;
            }
            margin-top: 57px;
            margin-left: 45px;
            font-size: 18px;
            font-family: 'Rubik', sans-serif;
            &:active {
                color: $softred;
            }
        }
        button{
            margin-top: 57px;
            margin-left: 50px;
            width: 110px;
            height: 40px;
            border: none;
            color: white;
            background-color: $softred;
            font-size: 18px;
            font-family: 'Rubik', sans-serif;
            margin-right: 165px;
            border-radius: 5%;
            &:active {
                background-color: white;
                color: $softred;
                border: 2px solid $softred;
            }
        }
    }
}
// section
section {
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    display: flex;
    .stage1{
        width: 490px;
        height: 290px;
        margin-left: 300px;
        margin-top: 205px;
       
        p{
           margin-top: 42px;
           margin-bottom: 42px;
        }
        .buttonsstage{
            display: flex;
            .secondbtn{
                    margin-left: 17px;
                    background-color: $grayishblue;
                    color: $verydarkblue;
                    &:active {
                        background-color: white;
                    }
                }
            button{
                border-radius: 5%;
                width: 165px;
                height: 47px;
                background-color: $softblue;
                color: white; 
                &:active{
                    background-color: white;
                    color: $softblue;
                }
            }
        }
    }
    .stage2{
        margin-top: 135px;
        margin-left: 128px;
        
    }
}

.features {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin-top: 100px;
  width: 540px;
  height: 130px;
  h2{
        width: 540px;
        height: 290px;
        margin-left: 600px;
        margin-bottom: 40px;
        margin-top: 217px;
        font-family: 'Rubik', sans-serif;

  }
  p{
      font-family: 'Rubik', sans-serif;
    font-size: 18px;
    width: 540px;
    height: 76px;
    margin-left: 600px;
  }
  .href{
      display: flex;
      margin-left: 450px;
      width: 730px;
      text-align: center;
      justify-content: center;
      font-family: 'Rubik', sans-serif;
      font-size: 18px;
      border-bottom: 1px solid black; 
      
      
      
      a{
      margin-bottom: 30px;
      margin-top: 80px;
      text-decoration: none;
      flex-direction: row;
      margin-left: 92px;
      color: $verydarkblue;
      &:active{
          color: $softred;
      }
           
      
        &:hover{
              border-bottom: 5px solid red;
              margin-bottom: -3px;

            
        }
  }
  }
}


.secondarticle{
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    .stage3{
        
        margin-top: 270px;
      display: flex;

        margin-left: 300px;
        margin-top: 281px;
  }
  .stage4{
      margin-left: 128px;
        margin-top: 73px;
        width: 490px;
        height: 290px;
        p{
            margin-top: 40px;
        }
  }
  }

  .download{
     display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin-top: 100px;
  width: 540px;
  height: 130px;
  h2{
        width: 540px;
        height: 290px;
        margin-left: 600px;
        margin-bottom: 40px;
        margin-top: 260px;
        font-family: 'Rubik', sans-serif;

  }
  p{
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    width: 540px;
    height: 76px;
    margin-left: 600px;
  }
  }

  .cards{
      display: flex;
      margin-left: 400px;
      margin-top: 177px;
      
      
      .firstcard{
          box-shadow: 1px 34px 28px -23px rgba(0,0,0,0.75);
        -webkit-box-shadow: 1px 34px 28px -23px rgba(0,0,0,0.75);
        -moz-box-shadow: 1px 34px 28px -23px rgba(0,0,0,0.75);
        border-radius: 3%;
          width: 283px;
          height: 386px;
          
          text-align: center;
          .imgchrome{
              margin-top: 40px;
          }
          h4{
              margin-top: 30px;
          }
          p{
              margin-top: 24px;
          }
          .imgdots{
              margin-bottom: 20px;
          }
          .chromebtn{
              background-color: $softblue;
              width: 232px;
              height: 49px;
              color: white;
              &:active{
                  color: $softblue;
                  background-color: white;
                  border: 1px solid $softblue;
              }
          }
      }
      .secondcard{
          box-shadow: 1px 34px 28px -23px rgba(0,0,0,0.75);
        -webkit-box-shadow: 1px 34px 28px -23px rgba(0,0,0,0.75);
        -moz-box-shadow: 1px 34px 28px -23px rgba(0,0,0,0.75);
        border-radius: 3%;
          text-align: center;
          margin-left: 38px;
          margin-top: 44px;
          width: 283px;
          height: 386px;
          
          .imgfirefox{
              margin-top: 40px;
          }
          h4{
              margin-top: 30px;
          }
          p{
              margin-top: 24px;
          }
          .imgdots{
              margin-bottom: 20px;
          }
          .firefoxbtn{
              background-color: $softblue;
              width: 232px;
              height: 49px;
              color: white;
              &:active{
                  color: $softblue;
                  background-color: white;
                  border: 1px solid $softblue;
              }
          }
      }
      .thirdcard{
          box-shadow: 1px 34px 28px -23px rgba(0,0,0,0.75);
        -webkit-box-shadow: 1px 34px 28px -23px rgba(0,0,0,0.75);
        -moz-box-shadow: 1px 34px 28px -23px rgba(0,0,0,0.75);
        border-radius: 3%;
          text-align: center;
          margin-top: 88px;
          margin-left: 38px;
          width: 283px;
          height: 386px;
          
          .imgopera{
              margin-top: 50px;
          }
          h4{
              margin-top: 30px;
          }
          p{
              margin-top: 24px;
          }
          .imgdots{
              margin-bottom: 20px;
          }
          .operabtn{
              background-color: $softblue;
              width: 232px;
              height: 49px;
              color: white;
              
              &:active{
                  color: $softblue;
                  background-color: white;
                  border: 1px solid $softblue;
              }
          }

      }
      
  }

.opentop{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin-top: 100px;
  width: 540px;
  height: 130px;
  h2{
        width: 540px;
        height: 290px;
        margin-left: 600px;
        margin-bottom: 40px;
        margin-top: 260px;
        font-family: 'Rubik', sans-serif;

  }
  p{
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    width: 540px;
    height: 76px;
    margin-left: 600px;
    
  }
}


.openit{
    display: flex;
    flex-direction: column;
    
    margin-top: 200px;
    width: 550px;
    margin-left: 560px;
    text-align: center;
    justify-content: center;

.collapsible {
    
    
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    width: 550px;
    height: 67px;
  background-color: #fff;
  cursor: pointer;
  border: none;
  outline: none;
  text-align: start;

  .arrowimg{
      transform: rotate(0deg);
      float: right;
      margin-right: 25px;
      
  }
}


.content {
    text-align: start;
  display: none;
  overflow: hidden;
}
.infobtn{
    margin-top: 56px;
    margin-left: 200px;
    border-radius: 5%;
    width: 115px;
    height: 47px;
    background-color: $softblue;
    color: white;
}
}
footer {
    display: flex;
    .footerdiv{
    background-color: $softblue;
    height: 450px;
    width: 100%;
    margin-top: 150px;
h5{
        
        color: white;
        margin-left: 585px;
        margin-top: 73px;
    }
    h2{
        width: 405px;
        height: 72px;
        color: white;
        margin-left: 519px;
        margin-top: 56px;
    }
    input{
        margin-left: 500px;
        text-align: center;
        width: 300px;
        height: 47px;
        border-radius: 5%;
        
    }
    button{
        margin-top: 57px;
            margin-left: 50px;
            width: 127px;
            height: 47px;
            border: none;
            color: white;
            background-color: $softred;
            font-size: 18px;
            font-family: 'Rubik', sans-serif;
            margin-right: 165px;
            border-radius: 5%;
            &:active{
            color: $softred;
            border: 1px solid $softred;
            background-color: white;
        }
    }
    .bottom{
        background-color: $grayishblue;
        height: 86px;
        margin-top: 75px;

        .bottomul{
            display: flex;
            list-style: none;
            .facebookicon{
                margin-left: 500px;
            }
            a{
                
                margin-top: 40px;
                color: white;
                margin-left: 50px;
                text-decoration-line: none;
                &:active {
                    color: $softred;
                }
                img{
                    &:active{
                        background-color: $softred;
                    }
                }
            }
            .logobottom{
                margin-top: 43px;
                margin-left: 167px;
                margin-right: 14px;
                display: inline-flex;
            }
        }
        
    }
    }
    
}
}   //desktop görüntü sonu



//  mobile button class

.mobilebtn {
    
    width: 150px;
    height: 50px;
    background-color: $softblue;
    border-radius: 5%;
    color: white;
    font-size: 12px;
    
}

.graymobilebtn {
    
    width: 150px;
    height: 50px;
    background-color: $grayishblue;
    border-radius: 5%;
    color: black;
    font-size: 12px;
    margin-left: 14px;
    
}
